<div class="destaque">
	<div class="destaque-titulo">%RETENÇÃO</div>
	<div class="destaque-porcentagem">{{ retencao }}%</div>
</div>

<div class="destaque">
	<div class="destaque-titulo">%META</div>
	<div class="destaque-porcentagem">{{ meta }}%</div>
</div>

<div class="destaque">
	<div class="destaque-titulo">ENTRANTES</div>
	<div class="destaque-porcentagem">{{ entrantes }}</div>
</div>

<div class="destaque">
	<div class="destaque-titulo">RETIDAS</div>
	<div class="destaque-porcentagem">{{ retidas }}</div>
</div>

<div class="destaque">
	<div class="destaque-titulo">DERIVADAS</div>
	<div class="destaque-porcentagem">{{ derivadas }}</div>
</div>