<div class="sticky-top header">
	<div class="lingueta">
		<img src="assets/img/lingueta-menu-telas.png">
	</div>
	<div class="lingueta">
		<img src="assets/img/lingueta-menu-filtros.png">
	</div>

	<div class="row">
		<div class="col-12">
			<div class="title">
				<h4>CONTROLE DE METAS</h4>
				<div>
					<select class="custom-select visoes">
						<option >Visão Geral </option>
						<option >Outra Visão</option>
						<option >Mais Uma Visão</option>
					</select> | 2017
				</div>
			</div>
			<app-cabecalho-botoes></app-cabecalho-botoes>
		</div>
	</div>
</div>