<div class="row fullheight">
	<div class="col-4">
		<img src="/assets/img/logo-estalo.png">
	</div>
	<div class="col-4 align-self-center">
		<img src="/assets/img/logo-oi.png">
		<hr>
		<span class="destacado">LOGIN</span>
		<form>
			<div class="inner-addon left-addon">
				<i class="fa fa-user-o" aria-hidden="true"></i>
				<input type="text" class="form-control" placeholder="Usuário">
			</div>
			<div class="inner-addon left-addon">
				<i class="fa fa-lock" aria-hidden="true"></i>
				<input type="text" class="form-control" placeholder="Senha">
			</div>
			<a routerLink="/controle-metas" class="form-control">LOGIN</a>
		</form>
		<span class="pull-right">Esqueceu a senha?</span>
		<hr>

	</div>
	<div class="col-4 logo-versatil">
		<!-- logo no css -->
	</div>
</div>
